@model IEnumerable<HotelReservation.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfGuests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomBooked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckedIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckedOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.SingleBeds)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfGuests)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomBooked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckedIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckedOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.SingleBeds)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingID })
        </td>
    </tr>
}

</table>
